*
{
    margin: 0%;
    padding:0%;
}
.Container
{
    background-image: url("../Images/Background.png");
    background-size: cover;
    padding-bottom: 40%;
    width: 100%;
    position: fixed;
}
.Opener1
{
    display: none;
}
.Navbar
{
    display: flex;
    margin-left: 40%;
    font-family: 'Gruppo', cursive;
    background-color: transparent;
}
.Navbar .Separate a
{
    font-size: 200%;
    color: white;
    text-decoration: none;
}
.Navbar .Separate a:hover
{
    color: rgb(191, 215, 216);
}
.MainPart
{
    padding-bottom: 3%;
}
.Heading
{
    font-family: 'Gruppo', cursive;
    color: thistle;
    font-size: 400%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: left;
}
.Row
{
    display: flex;
    font-family: 'Gruppo', cursive;
    color: rgb(191, 215, 216);
    font-size: 200%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.Row .Image 
{
    width: 5%;
}
.Row .Image img
{
    width: 100%;
}
.Row .Text
{
    margin-left: 2%;
}
@media(max-width:768px)
{
    .Container
    {
        display: none;
    }.Navbar
    {
        display: none;
    }
    .Opener1
    {
        display: block;
        background-image: linear-gradient(rgb(0, 57, 131),rgb(0, 0, 48));
        padding-bottom: 11%;
    }
    .Navbar1
    {
        display: none;
        position: absolute;
        z-index: 1;
        text-align: right;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        background-color: rgba(0, 0, 0, 0.8);
        width: 90%;
    }
    .Navbar1 button
    {
        border: none;
        font-size: 250%;
        background-color: transparent;
        color: rgb(191, 215, 216);
    }
    .Navbar1 .Separate
    {
        font-size: 300%;
        text-align: center;
        line-height: 190px;
    }
    .Navbar1 .Separate a
    {
        text-decoration: none;
        color: rgb(191, 215, 216);
    }
    .Row .Image
    {
        padding-top: 4%;
    }
    .Row .Text
    {
        line-height: 90px;
    }
}
@media(max-width:360px)
{
    .Opener1
    {
        padding-bottom: 0%;
    }
    .Heading
    {
        font-size: 200%;
    }
    .Row .Text
    {
        font-size: 70%;
        line-height: 60px;
        margin-left: 2%;
    }
    .Row .Image
    {
        width: 10%;
    }
    .Row .Image .sep
    {
        width: 200%;
    }
    .Navbar1 .Separate
    {
        font-size: 150%;
        text-align: center;
        line-height: 120px;
    }
    .Navbar1
    {
        padding-bottom: 0%;
    }
    #Sep
    {
        margin-left: 7%;
    }
}