*
{
    margin: 0%;
    padding: 0%;
}
.Opener
{
    background-image: url("../Images/Background.png");
    background-size: cover;
    padding-left: 5%;
    padding-bottom: 3.5%;
}
.Opener1
{
    display: none;
}
.Navbar
{
    display: flex;
    margin-left: 40%;
    font-family: 'Gruppo', cursive;
    background-color: transparent;
}
.Navbar .Separate a
{
    font-size: 200%;
    color: white;
    text-decoration: none;
}
.Navbar .Separate a:hover
{
    color: rgb(191, 215, 216);
}
.Opener .Images
{
    width: 20%;
    padding: 1%;
    border-left: 2px solid white;
    margin-top: 8%;
}
.Opener .Images img
{
    width: 100%;
}
.Opener .Heading
{
    font-family: 'Gruppo', cursive;
    color: thistle;
    margin-top: 3%;
    font-size: 400%;
}
.Opener .Subheading
{
    font-family: 'Gruppo', cursive;
    color: rgb(191, 215, 216);
    font-size: 200%;
    margin-top: 2%;
}
.Opener .Subheading a
{
    font-family: 'Gruppo', cursive;
    color: thistle;
    text-decoration: none;
}
@media(max-width:768px)
{
    .Opener
    {
        display: none;
    }
    .Opener1
    {
        display: block;
        background-image: linear-gradient(rgb(0, 57, 131),rgb(0, 0, 48));
        position: fixed;
    }
    .Opener1  .Navbar1
    {
        display: none;
        position: absolute;
        z-index: 1;
        text-align: right;
        padding-top: 15%;
        padding-bottom: 15%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgba(0, 0, 0, 0.8);
        width: 90%;
    }
    .Opener1 .Navbar1 button
    {
        border: none;
        font-size: 250%;
        background-color: transparent;
        color: rgb(191, 215, 216);
    }
    .Opener1 .Navbar1 .Separate
    {
        font-size: 300%;
        text-align: center;
        line-height: 150px;
    }
    .Opener1 .Navbar1 .Separate a
    {
        text-decoration: none;
        color: rgb(191, 215, 216);
    }
    .Opener1 .Image1
    {
        width: 50%;
        margin-left: 25%;
        padding-top: 5%;
    }
    .Opener1 .Image1 img
    {
        width: 100%;
    }
    .Opener1 .Heading1
    {
        font-size: 300%;
        text-align: center;
        font-family: 'Gruppo', cursive;
        color: thistle;
        margin-top: 5%;
    }
    .Opener1 .Subheading1
    {
        text-align: center;
        font-size: 250%;
        font-family: 'Gruppo', cursive;
        color: rgb(191, 215, 216); 
        margin-top: 5%;  
        padding-bottom: 52%;
    }
    .Opener1 .Subheading1 a
    {
        text-align: center;
        font-family: 'Gruppo', cursive;
        color: thistle;
        text-decoration: none;    
    }
}
@media(max-width:360px)
{
    .Opener1 .Navbar1 .Separate
    {
        font-size: 200%;
        line-height: 100px;
    }
    .Opener1 .Image1
    {
        margin-top: 25%;
    }
    .Opener1 .Heading1
    {
        font-size: 150%;
    }
    .Opener1 .Subheading1
    {
        font-size: 100%;
    }
}