*
{
    margin: 0%;
    padding: 0%;
}
.Container
{
    background-image: url("../Images/Background.png");
    background-size: cover;
    padding-bottom: 3%;
}
.Container1
{
    display: none;
}
.Navbar
{
    display: flex;
    margin-left: 40%;
    font-family: 'Gruppo', cursive;
    background-color: transparent;
}
.Navbar .Separate a
{
    font-size: 200%;
    color: white;
    text-decoration: none;
}
.Navbar .Separate a:hover
{
    color: rgb(191, 215, 216);
}
.Heading
{
    font-family: 'Gruppo', cursive;
    color: thistle;
    font-size: 400%;
    margin-left: 5%;
}
.Subheading
{
    margin-top: 3%;
    font-family: 'Gruppo', cursive;
    color: rgb(191, 215, 216);
    font-size: 70%;
    display: flex;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
.Subheading .Cards
{
    width: 20%;
    padding: 2%;
    background: rgba(0,0,0,0.5);
}
.Subheading .Cards:hover
{
    background: rgba(0,0,0,0.9);
}
.Subheading .Cards img
{
    width: 100%;
}
.Subheading .Cards .Name
{
    font-size: 190%;
}
@media(max-width:768px)
{
    .Container
    {
        display: none;
    }
    .Container1
    {
        display: block;
        background-image: linear-gradient(rgb(0, 57, 131),rgb(0, 0, 48));
        padding-bottom: 1%;
    }
    .Navbar1
    {
        display: none;
        position: absolute;
        z-index: 1;
        text-align: right;
        padding-top: 2%;
        padding-bottom: 15%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: rgba(0, 0, 0, 0.8);
        width: 90%;
    }
    .Navbar1 button
    {
        border: none;
        font-size: 250%;
        background-color: transparent;
        color: rgb(191, 215, 216);
    }
    .Navbar1 .Separate
    {
        font-size: 300%;
        text-align: center;
        line-height: 200px;
    }
    .Navbar1 .Separate a
    {
        text-decoration: none;
        color: rgb(191, 215, 216);
    }
}
@media(max-width:360px)
{
    .Heading
    {
        font-size: 50px;
    }
    .Heading #Smallers
    {
        font-size: 50%;
    }
    .Subheading
    {
        font-size: 40%;
    }
    .Container1
    {
        padding-bottom: 19%;
    }
    .Navbar1 .Separate
    {
        font-size: 150%;
        text-align: center;
        line-height: 110px;
    }
}